version: '3.8'

services:
  # Jenkins: L'orchestratore CI/CD
  jenkins:
    image: jenkins/jenkins:lts # Immagine standard a lungo supporto
    privileged: true # Necessario per eseguire Docker all'interno del container Jenkins
    user: root # Esegue come root per avere i permessi sul socket Docker
    ports:
      - "8080:8080" 
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock # ESSENZIALE per connettersi all'engine Docker HOST
    container_name: jenkins

  # Prometheus: Sistema di raccolta metriche
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml 
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    ports:
      - "9090:9090"

  # Grafana: Sistema di visualizzazione dashboard
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  jenkins_home:
  prometheus_data:
  grafana_data: